.navbar_sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 999;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
}

.navbar_sticky.show {
    transform: translateY(0);
}

.hero_content{
   position: absolute;
   z-index: 1; 
}

.license_number_holder{
    position: absolute;
    z-index: 5;
    opacity: 80%;
    pointer-events: none;
}

.license_number{
    height: 7vh;
    padding: 0vh 2vw;
}

.hero_holder{
    position: absolute;
    z-index: 10;
    opacity: 95%;   
    pointer-events: none;
}
.hero_box{
    padding: 10vh 5vw;
    max-width: 35vw;
    margin-top: 10vh;
    pointer-events: all;
}
.button_holder{
    gap: 0.5vh;
}

/* hero navbar line */
.line{
    width: 0.5%;
}

/* title holder line*/
.title_line{
    width: 10%;
    height: 0.5vh;
    background-color: var(--secondary_color);
}

/* news */
.first_news { 
    grid-area: 1 / 4 / 2 / 6; 
    position: relative;
}
.second_news { grid-area: 2 / 4 / 3 / 6; }
.third_news { grid-area: 3 / 4 / 4 / 6; }
.main_news { 
    grid-area: 1 / 1 / 4 / 4;
    position: relative; 
}

.main_news_image{
    position: absolute;
    z-index: 1;
}
.news_content_main{
    position: absolute;
    z-index: 2;
}

.news_box{
    padding: 5vh 2vw;
    background-color: var(--white_light);
    max-width: 60%;
}
.news_card{
    max-height: 20vh;
    padding: 2vh 1vw;
}

/* services */
.service_image{
    position: absolute;
    z-index: 6;
}
.overlay{
    position: absolute;
    z-index: 10;
    opacity: 70%;
}
.service_title{
    position: absolute;
    z-index: 20;
}

/* jobs */
.jobs_holder{
    height: 80%;
}

/* job_cards */
.job_image{
    position: absolute;
    z-index: 2;
}
.job_card_content{
    position: absolute;
    z-index: 20;
    padding: 2vh 1.5vw;
}

/* inputs */
.form_input{
    border: none;
    outline: 0.5vw solid var(--primary-color);
    padding: 1.5vh 1.5vw;
    font-size: 1vw;
}

@media (max-width: 999px){
    .hero_content {
        display: flex !important;
    }
    .right_hero {
        display: none !important;
    }
    .license_number{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .hero_holder{
        align-items: flex-end !important;
    }
    .hero_box{
        max-width: 100%;
        width: 100%;
        padding: 5vh 10vw !important;
    }
    .hero_box .button_holder {
        margin-top: 2vh;
    }
    .navbar_sticky{
        height: 7vh;
        transform: translateY(0%);
    }
    .nav_link {
        display: none;
    }
    .who_are_we_image {
        height: 35vh !important;
        object-fit: cover !important;
    }
    .who_are_we {
        gap: 2vw !important;
    }
    .main_news{
        grid-area: auto;
    }
    .news_card{
        display: none !important;
    }
    .news_holder {
        margin-top: 5vh;
    }
    .job_two_holder:first-of-type{
        display: none;
    }
    .job_card {
        height: 25vh !important;
    }
    .featured_jobs , .why_choose_us, .contact{
        height: fit-content !important;
    }

    .stats>div , .two_stats>div{
        height: 20vh !important;
    }
    .two_stats {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .contact_title>.button_holder, .featured_title>.button_holder {
        width: 35% !important;
    }
    .form_input {
        font-size: 2.5vw;
    }
    .contact_holder>iframe {
        height: 30vh !important;
    }
    .middle_footer , .right_footer{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
    .footer {
        gap: 5vh;
    }
}

@media (max-width: 699px) {
    .about_section {
        gap: 4vw;
    }
    .news_box {
        max-width: 80%;
    }
    .form_input {
        font-size: 3.5vw;
    }
    .job_card_content {
        padding: 2vh 5vw;
    }
}